/* SS.css or your stylesheet file */

.material-details-form {
    /* Center the text and form */
    text-align: center;

    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.material-details-form h2 {
    color: #333;
    font-size: 24px;
}

.material-details-form form {
    /* Center the form inside the div */
    margin: auto;
    max-width: 300px; 
    margin-top: 15px;
    
}

.material-details-form form input,
.material-details-form form select,
.material-details-form form textarea {
    /* Add space between form inputs */
    display: block;
    width: 100%; /* Make inputs full-width */
    margin-bottom: 10px;
    /* Adjust the margin-bottom as needed */
}

.material-details-form input[type="submit"] {
    background-color: #033747;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.material-details-form input[type="submit"]:hover {
    background-color: #45a049;
}



/* SS.css or your stylesheet file */

.add-asset-form {
    /* Center the text and form */
    text-align: center;

    /* Additional styling rules for the div */
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-asset-form h2 {
    /* Additional styling for the h2 element inside this div */
    color: #333;
    font-size: 24px;
    /* Add more styles as needed */
}

.add-asset-form form {
    /* Center the form inside the div */
    margin: auto;
    max-width: 400px; /* Adjust the max-width as needed */
    /* Additional styling for the form element inside this div */
    margin-top: 15px;
    /* Add more styles as needed */
}

.add-asset-form form button {
    /* Additional styling for the submit button inside this div */
    background-color: #033747;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-asset-form form button:hover {
    background-color: #45a049;
}
