

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsla(0, 18%, 83%, 0.774);
}

header {
    background-color: #033747;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

div {
    background-color:antiquewhite;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 30%;
}

h2 {
    color: #333;
}

button {
    background-color: #033747;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px; 
}

button:hover {
    background-color: #022d3d;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
