<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=action, initial-scale=1.0">
    <title>Business</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bm.css' %}">
</head>
    <!-- business_management.html -->

<body>
    <header>
        <h1>Business Management</h1>
    </header>
    <section>
        <div class="bm">
            <h2>Add Business</h2>
            <form action="/add_business" method="post">
                <!-- Business form elements -->
                <label for="name">Business Name:</label>
                <input type="text" id="name" name="name" placeholder="" required>

                <label for="category">Business Category:</label>
                <select id="category" name="category"  required>
                    <option value="Retail">Retail</option>
                    <option value="Real Estate">Real Estate</option>
                    <option value="Technology">Technology</option>
                    <option value="Food">Food</option>

                <label for="location">Location:</label>
                <input type="text" id="location" name="location" placeholder="" required>

                <button type="submit">Add Business</button>
            </form>
        </div>

        <div>
            <h2>Add Business Category</h2>
            <form action="/add_category" method="post">
                <!-- Business Category form elements -->
                <label for="categoryName">Category Name:</label>
                <input type="text" id="categoryName" name="categoryName" placeholder="New Category" required>

                <button type="submit">Add Category</button>
            </form>
        </div>

        <div>
            <h2>Add Cost Invested</h2>
            <form action="/add_cost" method="post">
                <!-- Cost Invested form elements -->
                <label for="business">Business Name:</label>
                <!-- Add dropdown or select input for businesses -->

                <label for="amount">Amount Invested:</label>
                <input type="number" id="amount" name="amount" placeholder="10000.00" required>

                <button type="submit">Add Cost</button>
            </form>
        </div>
    </section>

</body>
</html>

    
</body>--
</html>